$primary_color: #2119b3 !default;
$secondary_color: #29cbf4 !default;
$gray_color: #bac0ca !default;
$light_color: #fbfbfc !default;
$ternary_dark_color: #9f648d;
$ternary_light_color: #baacd0;
$dark_color: #3b3c44;
