.mainComponent-card{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
  
    
   .mainComponent-card-img{
      height: 24vh;
      width: 100%;
    }
    .mainComponent-card-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
   .mainComponent-card-link{
     color: black;
     &:hover{
       text-decoration: underline;
     }
   }
  }

   @media screen and (max-width:600px) {
   .mainComponent-card{
    height: 40vh;
    width: 93vw;
    margin-bottom: 5vh;
   .mainComponent-card-img{
      height: 25vh;
      width: 93vw;
    }

   
  }
    }

   
  